<div id="login">
    <h3 class="text-center text-white pt-5">Login form</h3>
    <div class="container">
        <ngx-spinner></ngx-spinner>
        <div class="alert alert-danger"  *ngIf="error">{{message}}</div>
        <div id="login-row" class="row justify-content-center align-items-center">
            <div id="login-column" class="col-md-6">
                <div id="login-box" class="col-md-12">
                    <form id="login-form" class="form" [formGroup]="loginForm" (ngSubmit)="login(loginForm)">
                        <h3 class="text-center text-info">Login</h3>
                        <div class="form-group">
                            <label for="username" class="text-info">User Email:</label><br>
                            <input type="email" name="userId" formControlName="userId" id="userId" class="form-control"
                                required placeholder="Email" title="Please enter email id as xyz@example.com">
                        </div>
                        <div class="form-group">
                            <label for="password" class="text-info" required>Password:</label><br>
                            <input type="password" name="password" id="password" formControlName="password"
                                class="form-control" required placeholder="Password">
                        </div>
                        <div class="form-group">
                            <label for="remember-me" class="text-info"><span>Remember me</span> <span><input
                            id="remember-me" name="remember-me" type="checkbox"></span></label><br>
                            <input type="submit" name="submit" class="btn btn-info btn-md" value="Login">
                        </div>
                        <div id="register-link" class="text-right">
                            <a class="text-info" routerLink="/signup">Register here</a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>